:root {
    --backgrond: #FFF;
    --color-text: #444;
    --color-text-dim: #666;
    --underline-text: #DDD;
    --background-item: #F5F5F5;
    --content-margin: 2rem;
    --content-width: 1000px;
}

/*:dark {
    --backgrond: #111;
    --color-text: #FFF;
    --color-text-dim: #EEE;
    --underline-text: #444;
    --content-margin: 2rem;
    --content-width: 1000px;
}*/


@media (max-width: 500px) {
    :root {
        --content-margin: 1rem;
    }
}


body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--backgrond);
}

#container {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: var(--content-margin);
}

h1 {
    font-size: 3em;
    margin: 3rem 0 1rem;
    padding: 0;
    color: var(--color-text);
    font-weight: 900;
}

@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
}

#suptitle {
    margin: 3rem 0 1rem;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 900;
}

@media (max-width: 500px) {
    #suptitle {
        margin: 1rem 0 0;
    }
}

#subtitle {
    margin: 1rem 0;
    color: var(--color-text-dim);
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a.dim {
    text-decoration: none;
    border-bottom: 1px solid var(--underline-text);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 4rem 0 0;
}

@media (max-width: 500px) {
    #projects {
        margin: 2rem 0 0;
    }
}

.project {
    width: calc(33% - 0.5rem);
    border-radius: 5px;
    margin: 0 0 1rem;
    background: var(--background-item);
}

@media (max-width: 700px) {
    .project {
        width: calc(50% - 0.5rem);
    }
}

@media (max-width: 500px) {
    .project {
        width: calc(100% - 0.5rem);
    }
}

.project h2 {
    margin: 1rem;
    padding: 0;
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 900;

}

.project .desc {
    margin: 1rem 0 0;
    color: var(--color-text-dim);
    font-size: 0.9rem;
    margin: 1rem;
}

.cover {
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
}

#sources {
    font-size: 0.8em;
    margin: 4rem 0 0;
    color: var(--color-text-dim);
}

#footsection {
    font-size: 2em;
    margin: 1rem 0;
    font-weight: 900;
    color: var(--color-text-dim);
}

@media (max-width: 500px) {
    #footsection {
        font-size: 1em;
    }
}

img.icon {
    height: 0.8em;
    vertical-align: baseline;
    margin: 0 0.1em;
}