html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    font-family: 'Open Sans', sans-serif;
    width: 20rem;
    text-transform: lowercase;
    margin: auto;
}

@media (max-width: 22rem) {
    .page {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}


h1, p, .line, input, button {
    font-size: 1em;
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

p {
    color: #666;
}

button, input {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    border: none;
    padding: 0;
    font-size: 1em;
    display: block;
}

button:focus, input:focus,
button:active, input:focus {
    outline: none;
}

button {
    cursor: pointer;
    padding: 0.5em 1em;
    color: #000;
    background: #FFF;
    border-radius: 0.3rem;
}

input {
    border: 1px solid #000;
    padding: 0.5em 1em;
}

.line {
    padding: 0.5em 1em;
    border: 1px solid #000;
    transition: all 0.1s;
}

.line:hover {
    background: #000;
    color: #FFF;
}

.nonactive {
    background: #666;
}

a {
    color: inherit;
    text-decoration: none;
}


.dash {
    font-family: 'Open Sans', sans-serif;
    max-width: 45rem;
    margin: 2em auto;
}

@media (max-width: 22rem) {
    .dash {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

.widget {
    background: #FFF;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.widget.bordered {
    border: 1px solid #EEE;
    border-radius: 0.3em;
}


.widget > *,
.controler > * {
    padding: 1rem 1rem;  
}

.widget.bordered {
    border: 1px solid #EEE;
    border-radius: 0.3em;
    margin-bottom: 0.5em;

}

.widget.row {
    display: flex;
    flex-direction: row;
}


.widget .title {
    font-weight: 500;
    font-size: 2em;
}

.widget .subtitle {
    font-weight: 500;
    font-size: 1.5em;
}

.widget .subsubtitle {
    font-weight: 900;
    font-size: 1em;
}

.widget .action {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #666;
}

.controler {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.controler .action {

}

.widget .action:hover {
    background: #EEE;
}

.react-icons {
    padding-right: 1em;
}

.pair {
    display: flex;
    color: #666;
}

.pair .name {
    padding-right: 1em;
}
