
:root {
    --gray900: #101840;
    --gray800: #474d66;
    --gray700: #696f8c;
    --gray600: #8f95b2;
    --gray500: #c1c4d6;
    --gray400: #d8dae5;
    --gray300: #E6E8F0;
    --gray200: #edeff5;
    --gray100: #F4F5F9;
    --gray90: #F4F6FA;
    --gray75: #F9FAFC;
    --gray50: #FAFBFF;
    --blue900: #0A1433;
    --blue800: #142966;
    --blue700: #1F3D99;
    --blue600: #2952CC;
    --blue500: #3366FF;
    --blue400: #5C85FF;
    --blue300: #85A3FF;
    --blue200: #ADC2FF;
    --blue100: #D6E0FF;
    --blue50: #EBF0FF;
    --blue25: #F3F6FF;
    --red700: #7D2828;
    --red600: #A73636;
    --red500: #D14343;
    --red300: #EE9191;
    --red100: #F9DADA;
    --red25: #FDF4F4;
    --green900: #10261E;
    --green800: #214C3C;
    --green700: #317159;
    --green600: #429777;
    --green500: #52BD95;
    --green400: #75CAAA;
    --green300: #97D7BF;
    --green200: #BAE5D5;
    --green100: #DCF2EA;
    --green25: #F5FBF8;
    --orange700: #996A13;
    --orange500: #FFB020;
    --orange100: #F8E3DA;
    --orange25: #FFFAF2;
    --purple600: #6E62B6;
    --purple100: #E7E4F9;
    --teal800: #0F5156;
    --teal100: #D3F5F7;
    --yellow800: #66460D;
    --yellow100: #FFEFD2;
    --muted: #696f8c;
    --default: #474d66;
    --dark: #101840;
    --selected: #3366FF;
    --tint1: #FAFBFF;
    --tint2: #F9FAFC;
    --overlay: rgba(67, 90, 111, 0.7);
    --border: rgb(237, 239, 245);
    --tab: rgb(244, 245, 249);
    --yellowTint: #FFEFD2;
    --greenTint: #F5FBF8;
    --orangeTint: #FFFAF2;
    --redTint: #FDF4F4;
    --blueTint: #F3F6FF;
    --purpleTint: #E7E4F9;
    --tealTint: #D3F5F7;

    --sliderBack: #FFF;
    --sliderBorder: var(--gray400);
    --sliderThumb: var(--gray800);
}

html, body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    height: 3.2rem;
}

.header .headerLink {
    padding: 1rem;
    font-size: 0.9em;
    display: block;
    color: var(--muted);
}

.headerLink.selected {
    color: var(--selected);
}

.projectList {
    display: flex;
    flex-direction: column;
    margin: 1em;
}



.projectList.title {
    margin: 2rem 1rem 1rem;
    padding-left: 16px;
    color: var(--muted);
    font-size: 12px;
    text-transform: uppercase;
}

.projectList.action {
    margin: 1rem 1rem 1rem;
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--blue500);
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.projectList.action:hover {
    background: var(--blue100);
}

.projectList.action svg {
    display: block;
    margin-right: 1rem;
}

.projectList span {
    margin-bottom: 0.5em;
    justify-content: left;
}


.projects {
    display: flex;
    flex-direction: row;
}

.projects .tabs {
    min-width: 10rem;
}

.projects .content {
    margin: 2rem 1rem;
    width: 100%;
}


.projects .content h2 {
    font-size: 1.5em;
    line-height: 2em;
    margin: 1rem 0
}

form {
    display: flex;
    flex-direction: column;
}

.fullScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullScreen .centered form {
    max-width: 20rem;
}


.project {
    min-width: 40rem;
    max-width: 60rem;
    margin: 0 auto;
}

.projectHeader {
    display: flex;
    align-items: center;
    flex-flow: row;
    margin: 1rem 0 1rem;
}

.projectHeader .wide {
    flex-grow: 1;
}

.projectHeader h3 {
    font-size: 1em;
    line-height: 2em;
    font-weight: bolder;
}

.projectHeader.main {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row .wide {
    flex-grow: 1;
    flex-shrink: 0;
}

.row .narrow {
    flex-basis: 5rem;
    flex-shrink: 1;
    flex-grow: 0;
}

.row .narrow > * {
    display: flex;
    justify-content: center;
}

.upload,
.mapping {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.upload .uploadTitle,
.mapping .mappingTitle {
    margin: 1.5rem;
    color: var(--muted);
}

.dropzoneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzoneContainer form {
    margin: 1rem;
    min-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzoneContainer .layerName,
.dropzoneContainer .dropzone {
    width: 100%;
}

.dropzone {
    background: var(--gray100);
    color: var(--gray600);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: calc(100vh - 30rem);
    overflow: auto;
}

ul.filelist {
    text-align: left;
    list-style: none;
    padding: 0;
}

ul.filelist li {
    display: flex;
}

ul.filelist li .fileName {
    flex-grow: 1;
}

.upload .progress {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload .progress .label {
    display: block;
    font-weight: bold;
}

#warningToast {
    background: var(--gray600);
}


.Toastify__progress-bar,
.Toastify__progress-bar--rtl,
.Toastify__progress-bar-theme--light,
.Toastify__progress-bar-theme--dark,
.Toastify__progress-bar--info,
.Toastify__progress-bar--success,
.Toastify__progress-bar--warning,
.Toastify__progress-bar--error,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    background: var(--gray500) !important;
}

.Toastify__toast-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
}

.jobs,
.logs,
.home {
    max-width: 70rem;
    margin: 1rem auto
}

.jobs .jobsHeading,
.logs .logsHeading {
    font-size: 1.5em;
    line-height: 2em;
    margin: 1rem 0
}

.jsonRaw .jsonHeading {
    margin: 2rem;
}

.jsonRaw .jsonDescription {
    margin: 2rem;
}

.json {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2rem;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}

.logs .logList {
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 1rem;
    margin: 0;
}

.logs .logTab {
    background: var(--gray100);
    display: inline-block;
}

.logs .logTab:hover {
    background: var(--gray400);
}

.logs .logContents {
    padding: 1rem;
    background: var(--gray100);
    border-radius: 4px;
    overflow: auto;
    max-height: 30rem;
}

.logs .logLines {
    display: flex;
    flex-direction: column-reverse;
    font-family: monospace;
}

.home .homeHeading {
    font-size: 2em;
    line-height: 2em;
    margin: 1rem 0
}

.home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0rem auto
}

.home .homeNav {
    margin-top: 5rem;
    color: var(--blue500);
}

.styleList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.styleTitle {
    padding: 1rem;
}

.styleItem {
    color: var(--gray800);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--gray300);
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.styleItem:hover {
    background: var(--gray50);
}

.styleView {
    margin-top: 1rem;
    height: calc(100vh - 7.2rem);
    overflow: hidden;
}

.stylesHeader {
    display: flex;
    align-items: center;
    flex-flow: row;
    margin: 1rem;
}


.stylesHeader .wide {
    flex-grow: 1;
}

.stylesHeader .projectLink {
    text-decoration: none;
    color: var(--gray600);
}

.stylesHeader .styleHint {
    font-weight: inherit;
    font-size: inherit;
    color: var(--gray600);
}

pre.parsedMessage {
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.2em;
}

.canvasAnchor {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#viewStatusBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #FFF;
    color: var(--gray600);
    z-index: 2;
    border-top: 1px solid #CCC;
    padding: 4px 5px;
    font-size: 0.8em;
}

.meta {
    display: flex;
    flex-direction: column;
}

.meta .attribute {
    display: flex;
    flex-direction: row;
}

.meta .attribute .key {
    flex-grow: 1;
    color: var(--gray500);
    padding-right: 1rem;
}

.meta .attibute .value {
    flex-grow: 1;
    color: var(--gray800);
}

.mappingDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#layerMappingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem;
    border-radius: 4px;
}

#layerMappingForm .layerName {
    width: 100%;
}

.mappingLayerPicker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mappingDialog .dialogPart {
    margin: 1rem;
}

.mappingDialog .mappingDescription {
    width: 100%;
    max-width: 40rem;
    margin: 1rem 0;
    text-align: center;
}

.viewMenu .layers,
.viewMenu .styles,
.viewMenu .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}

.viewMenu .layers .layer,
.viewMenu .styles .style {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    width: 100%;
    margin-bottom: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
}

.viewMenu .layers .layer:hover,
.viewMenu .styles .style:hover {
    background: var(--gray200);
}

.viewMenu .styles .style.selected {
    background: var(--gray200);
}

.viewMenu .layers .layerName {
    margin-left: 1rem;
}

.viewMenu .title {
    margin: 1rem 0 0 1rem
}

.setting {
    width: 100%;
    margin: 1rem 0 0;
}

.setting .inlineControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.viewControls {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #CCC;
}

.viewControls .active {
    background: var(--gray200);;
}

.viewMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    min-width: 20rem;
    background: #FFF;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /*box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px 0px, rgba(67, 90, 111, 0.47) 0px 16px 24px -8px;*/
    border: 1px solid #CCC; 
    max-height: calc(100vh - 60px);
    overflow: auto;
    border-radius: 4px;
}


.viewMenu .closeViewMenu {
    position: absolute;
    right: 0;
    top: 0;
}

#perspectiveControl {
    padding: 0;
    margin: 0;
}


/* custom range */

input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 22px;
    cursor: pointer;
    box-shadow: none;
    background: var(--sliderBack);
    border-radius: 4px;
    border: 1px solid var(--sliderBorder);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 20px;
    width: 10px;
    border-radius: 4px;
    background: var(--sliderThumb);
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--sliderBack);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 22px;
    cursor: pointer;
    box-shadow: none;
    background: var(--sliderBack);
    border-radius: 4px;
    border: 1px solid var(--sliderBorder);
}

input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 20px;
    width: 10px;
    border-radius: 4px;
    background: var(--sliderThumb);
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 22px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: var(--sliderBack);
    border: 1px solid var(--sliderBorder);
    border-radius: 4px;
    box-shadow: none;
}
input[type=range]::-ms-fill-upper {
    background: var(--sliderThumb);
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
input[type=range]::-ms-thumb {
    box-shadow: none;
    border: none;
    height: 20px;
    width: 10px;
    border-radius: 4px;
    background: #A1D0FF;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: var(--sliderBack);
}
input[type=range]:focus::-ms-fill-upper {
    background: var(--sliderBack);
}

